.rvmrc
.bundle
db/*.sqlite3
log/
log
/solr
tmp/
cert/
.keep
.byebug_history
public/assets

.DS_Store
*.ignore
*~
.directory
sitemap*.xml.gz
sitemap*.xml

.idea/*
.rspec
REVISION
assets_manifest.json

# config
config/database.yml
config/mongoid.yml
config/secrets.yml
config/unicorn.rb
config/monitrc
config/redis.yml
config/qiniu.yml

*.sql
*.swp
*.swp

